nifi/vdt-nifi.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>cf756ecc-018f-1000-7996-4ba6cd863885</groupId>
    <name>vdt-nifi</name>
    <snippet>
        <connections>
            <id>b8722872-3b1a-3fc9-0000-000000000000</id>
            <parentGroupId>e0c388ff-e973-39cf-0000-000000000000</parentGroupId>
            <versionedComponentId>b8722872-3b1a-3fc9-a9c3-77f75bbedf5f</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>e0c388ff-e973-39cf-0000-000000000000</groupId>
                <id>c8fbe8c6-e199-30ca-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>c8fbe8c6-e199-30ca-a962-a1a0440b0154</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>e0c388ff-e973-39cf-0000-000000000000</groupId>
                <id>8e6e30e6-6c29-37ed-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>8e6e30e6-6c29-37ed-b457-9731c292738a</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>e8b05cfe-c97e-34cb-0000-000000000000</id>
            <parentGroupId>e0c388ff-e973-39cf-0000-000000000000</parentGroupId>
            <versionedComponentId>e8b05cfe-c97e-34cb-afe5-2759715e7c6b</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>e0c388ff-e973-39cf-0000-000000000000</groupId>
                <id>da39ca51-e683-3687-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>da39ca51-e683-3687-b42d-0beccf7c9ff1</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>e0c388ff-e973-39cf-0000-000000000000</groupId>
                <id>c8fbe8c6-e199-30ca-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>c8fbe8c6-e199-30ca-a962-a1a0440b0154</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>f63f7795-f0e1-3cf3-0000-000000000000</id>
            <parentGroupId>e0c388ff-e973-39cf-0000-000000000000</parentGroupId>
            <versionedComponentId>f63f7795-f0e1-3cf3-9174-c599504f0155</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>e0c388ff-e973-39cf-0000-000000000000</groupId>
                <id>a616b4fe-9ac3-3c50-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>a616b4fe-9ac3-3c50-a66b-48cfe6e72ae1</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>merged</selectedRelationships>
            <source>
                <groupId>e0c388ff-e973-39cf-0000-000000000000</groupId>
                <id>da39ca51-e683-3687-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>da39ca51-e683-3687-b42d-0beccf7c9ff1</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>35fdc61f-6c25-32da-0000-000000000000</id>
            <parentGroupId>e0c388ff-e973-39cf-0000-000000000000</parentGroupId>
            <versionedComponentId>35fdc61f-6c25-32da-bfad-be9d08e987c5</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-parquet-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.26.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>Schema Write Strategy</propertyName>
                        </dependencies>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>
                        <name>cache-size</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-type</key>
                    <value>
                        <name>compression-type</name>
                    </value>
                </entry>
                <entry>
                    <key>row-group-size</key>
                    <value>
                        <name>row-group-size</name>
                    </value>
                </entry>
                <entry>
                    <key>page-size</key>
                    <value>
                        <name>page-size</name>
                    </value>
                </entry>
                <entry>
                    <key>dictionary-page-size</key>
                    <value>
                        <name>dictionary-page-size</name>
                    </value>
                </entry>
                <entry>
                    <key>max-padding-size</key>
                    <value>
                        <name>max-padding-size</name>
                    </value>
                </entry>
                <entry>
                    <key>enable-dictionary-encoding</key>
                    <value>
                        <name>enable-dictionary-encoding</name>
                    </value>
                </entry>
                <entry>
                    <key>enable-validation</key>
                    <value>
                        <name>enable-validation</name>
                    </value>
                </entry>
                <entry>
                    <key>writer-version</key>
                    <value>
                        <name>writer-version</name>
                    </value>
                </entry>
                <entry>
                    <key>avro-write-old-list-structure</key>
                    <value>
                        <name>avro-write-old-list-structure</name>
                    </value>
                </entry>
                <entry>
                    <key>avro-add-list-element-records</key>
                    <value>
                        <name>avro-add-list-element-records</name>
                    </value>
                </entry>
                <entry>
                    <key>int96-fields</key>
                    <value>
                        <name>int96-fields</name>
                    </value>
                </entry>
            </descriptors>
            <name>ParquetRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>1000</value>
                </entry>
                <entry>
                    <key>compression-type</key>
                    <value>UNCOMPRESSED</value>
                </entry>
                <entry>
                    <key>row-group-size</key>
                </entry>
                <entry>
                    <key>page-size</key>
                </entry>
                <entry>
                    <key>dictionary-page-size</key>
                </entry>
                <entry>
                    <key>max-padding-size</key>
                </entry>
                <entry>
                    <key>enable-dictionary-encoding</key>
                </entry>
                <entry>
                    <key>enable-validation</key>
                </entry>
                <entry>
                    <key>writer-version</key>
                </entry>
                <entry>
                    <key>avro-write-old-list-structure</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>avro-add-list-element-records</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>int96-fields</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.parquet.ParquetRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>5fb0a3d0-c7e6-3663-0000-000000000000</id>
            <parentGroupId>e0c388ff-e973-39cf-0000-000000000000</parentGroupId>
            <versionedComponentId>5fb0a3d0-c7e6-3663-9b78-5bc21fe32b3c</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.26.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>Schema Write Strategy</propertyName>
                        </dependencies>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>
                        <name>cache-size</name>
                    </value>
                </entry>
                <entry>
                    <key>encoder-pool-size</key>
                    <value>
                        <name>encoder-pool-size</name>
                    </value>
                </entry>
            </descriptors>
            <name>AvroRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>avro-embedded</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>NONE</value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>1000</value>
                </entry>
                <entry>
                    <key>encoder-pool-size</key>
                    <value>32</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.avro.AvroRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>e75bc2cf-91b4-33ef-0000-000000000000</id>
            <parentGroupId>e0c388ff-e973-39cf-0000-000000000000</parentGroupId>
            <versionedComponentId>e75bc2cf-91b4-33ef-8a92-ee0cdc6f2b9e</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-parquet-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.26.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>avro-read-compatibility</key>
                    <value>
                        <name>avro-read-compatibility</name>
                    </value>
                </entry>
            </descriptors>
            <name>ParquetReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>avro-read-compatibility</key>
                    <value>true</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.parquet.ParquetReader</type>
        </controllerServices>
        <controllerServices>
            <id>f5acdf45-e28a-343d-0000-000000000000</id>
            <parentGroupId>e0c388ff-e973-39cf-0000-000000000000</parentGroupId>
            <versionedComponentId>f5acdf45-e28a-343d-908e-3740d800d76c</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.26.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <dependencies>
                            <dependentValues>infer-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>starting-field-strategy</key>
                    <value>
                        <name>starting-field-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>starting-field-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>NESTED_FIELD</dependentValues>
                            <propertyName>starting-field-strategy</propertyName>
                        </dependencies>
                        <name>starting-field-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-application-strategy</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>schema-text-property</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <dependencies>
                            <dependentValues>NESTED_FIELD</dependentValues>
                            <propertyName>starting-field-strategy</propertyName>
                        </dependencies>
                        <name>schema-application-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>Max String Length</key>
                    <value>
                        <name>Max String Length</name>
                    </value>
                </entry>
                <entry>
                    <key>Allow Comments</key>
                    <value>
                        <name>Allow Comments</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonTreeReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>infer-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                </entry>
                <entry>
                    <key>starting-field-strategy</key>
                    <value>ROOT_NODE</value>
                </entry>
                <entry>
                    <key>starting-field-name</key>
                </entry>
                <entry>
                    <key>schema-application-strategy</key>
                    <value>SELECTED_PART</value>
                </entry>
                <entry>
                    <key>Max String Length</key>
                    <value>20 MB</value>
                </entry>
                <entry>
                    <key>Allow Comments</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <processors>
            <id>8e6e30e6-6c29-37ed-0000-000000000000</id>
            <parentGroupId>e0c388ff-e973-39cf-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>264.0</y>
            </position>
            <versionedComponentId>8e6e30e6-6c29-37ed-b457-9731c292738a</versionedComponentId>
            <bundle>
                <artifact>nifi-kafka-2-6-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.26.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>
                            <name>bootstrap.servers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>
                            <name>topic</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic_type</key>
                        <value>
                            <name>topic_type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>group.id</key>
                        <value>
                            <name>group.id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>output-strategy</key>
                        <value>
                            <name>output-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>header-name-regex</key>
                        <value>
                            <dependencies>
<dependentValues>USE_VALUE</dependentValues>
<propertyName>output-strategy</propertyName>
                            </dependencies>
                            <name>header-name-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>
                            <dependencies>
<dependentValues>USE_VALUE</dependentValues>
<propertyName>output-strategy</propertyName>
                            </dependencies>
                            <name>key-attribute-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key-format</key>
                        <value>
                            <dependencies>
<dependentValues>USE_WRAPPER</dependentValues>
<propertyName>output-strategy</propertyName>
                            </dependencies>
                            <name>key-format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key-record-reader</key>
                        <value>
                            <dependencies>
<dependentValues>record</dependentValues>
<propertyName>key-format</propertyName>
                            </dependencies>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>key-record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Commit Offsets</key>
                        <value>
                            <name>Commit Offsets</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-uncommit-offset-wait</key>
                        <value>
                            <dependencies>
<dependentValues>true</dependentValues>
<propertyName>Commit Offsets</propertyName>
                            </dependencies>
                            <name>max-uncommit-offset-wait</name>
                        </value>
                    </entry>
                    <entry>
                        <key>honor-transactions</key>
                        <value>
                            <name>honor-transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>
                            <name>security.protocol</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>
                            <name>sasl.mechanism</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-user-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.SelfContainedKerberosUserService</identifiesControllerService>
                            <name>kerberos-user-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                        <value>
                            <name>sasl.kerberos.service.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                        <value>
                            <name>sasl.kerberos.principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                        <value>
                            <name>sasl.kerberos.keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                        <value>
                            <dependencies>
<dependentValues>PLAIN</dependentValues>
<dependentValues>SCRAM-SHA-512</dependentValues>
<dependentValues>SCRAM-SHA-256</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>sasl.username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                        <value>
                            <dependencies>
<dependentValues>PLAIN</dependentValues>
<dependentValues>SCRAM-SHA-512</dependentValues>
<dependentValues>SCRAM-SHA-256</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>sasl.password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>
                            <dependencies>
<dependentValues>SCRAM-SHA-512</dependentValues>
<dependentValues>SCRAM-SHA-256</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>sasl.token.auth</name>
                        </value>
                    </entry>
                    <entry>
                        <key>aws.profile.name</key>
                        <value>
                            <dependencies>
<dependentValues>AWS_MSK_IAM</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>aws.profile.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>ssl.context.service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>separate-by-key</key>
                        <value>
                            <name>separate-by-key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>auto.offset.reset</key>
                        <value>
                            <name>auto.offset.reset</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>
                            <name>message-header-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.poll.records</key>
                        <value>
                            <name>max.poll.records</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>
                            <name>Communications Timeout</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>kafka:29092</value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>vdt2024</value>
                    </entry>
                    <entry>
                        <key>topic_type</key>
                        <value>names</value>
                    </entry>
                    <entry>
                        <key>record-reader</key>
                        <value>f5acdf45-e28a-343d-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>5fb0a3d0-c7e6-3663-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>group.id</key>
                        <value>vdt</value>
                    </entry>
                    <entry>
                        <key>output-strategy</key>
                        <value>USE_VALUE</value>
                    </entry>
                    <entry>
                        <key>header-name-regex</key>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>utf-8</value>
                    </entry>
                    <entry>
                        <key>key-format</key>
                        <value>byte-array</value>
                    </entry>
                    <entry>
                        <key>key-record-reader</key>
                    </entry>
                    <entry>
                        <key>Commit Offsets</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>max-uncommit-offset-wait</key>
                        <value>1 secs</value>
                    </entry>
                    <entry>
                        <key>honor-transactions</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>PLAINTEXT</value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>GSSAPI</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>kerberos-user-service</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>aws.profile.name</key>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                    </entry>
                    <entry>
                        <key>separate-by-key</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>auto.offset.reset</key>
                        <value>latest</value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>max.poll.records</key>
                        <value>10000</value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>60 secs</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ConsumeKafkaRecord_2_6</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>parse.failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_6</type>
        </processors>
        <processors>
            <id>a616b4fe-9ac3-3c50-0000-000000000000</id>
            <parentGroupId>e0c388ff-e973-39cf-0000-000000000000</parentGroupId>
            <position>
                <x>424.0</x>
                <y>552.0</y>
            </position>
            <versionedComponentId>a616b4fe-9ac3-3c50-a66b-48cfe6e72ae1</versionedComponentId>
            <bundle>
                <artifact>nifi-hadoop-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.26.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Hadoop Configuration Resources</key>
                        <value>
                            <name>Hadoop Configuration Resources</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-user-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
                            <name>kerberos-user-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Principal</key>
                        <value>
                            <name>Kerberos Principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Keytab</key>
                        <value>
                            <name>Kerberos Keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Password</key>
                        <value>
                            <name>Kerberos Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Relogin Period</key>
                        <value>
                            <name>Kerberos Relogin Period</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Additional Classpath Resources</key>
                        <value>
                            <name>Additional Classpath Resources</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <name>Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>
                            <name>Conflict Resolution Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Append Mode</key>
                        <value>
                            <dependencies>
<dependentValues>append</dependentValues>
<propertyName>Conflict Resolution Strategy</propertyName>
                            </dependencies>
                            <name>Append Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>writing-strategy</key>
                        <value>
                            <name>writing-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Block Size</key>
                        <value>
                            <name>Block Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>IO Buffer Size</key>
                        <value>
                            <name>IO Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replication</key>
                        <value>
                            <name>Replication</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions umask</key>
                        <value>
                            <name>Permissions umask</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote Owner</key>
                        <value>
                            <name>Remote Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote Group</key>
                        <value>
                            <name>Remote Group</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Compression codec</key>
                        <value>
                            <name>Compression codec</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore Locality</key>
                        <value>
                            <name>Ignore Locality</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Hadoop Configuration Resources</key>
                        <value>/opt/nifi/nifi-current/conf/core-site.xml,/opt/nifi/nifi-current/conf/hdfs-site.xml</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>kerberos-user-service</key>
                    </entry>
                    <entry>
                        <key>Kerberos Principal</key>
                    </entry>
                    <entry>
                        <key>Kerberos Keytab</key>
                    </entry>
                    <entry>
                        <key>Kerberos Password</key>
                    </entry>
                    <entry>
                        <key>Kerberos Relogin Period</key>
                        <value>4 hours</value>
                    </entry>
                    <entry>
                        <key>Additional Classpath Resources</key>
                    </entry>
                    <entry>
                        <key>Directory</key>
                        <value>hdfs://namenode:9000/user/root/raw_zone/fact/activity</value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>fail</value>
                    </entry>
                    <entry>
                        <key>Append Mode</key>
                        <value>DEFAULT</value>
                    </entry>
                    <entry>
                        <key>writing-strategy</key>
                        <value>writeAndRename</value>
                    </entry>
                    <entry>
                        <key>Block Size</key>
                    </entry>
                    <entry>
                        <key>IO Buffer Size</key>
                    </entry>
                    <entry>
                        <key>Replication</key>
                    </entry>
                    <entry>
                        <key>Permissions umask</key>
                    </entry>
                    <entry>
                        <key>Remote Owner</key>
                    </entry>
                    <entry>
                        <key>Remote Group</key>
                    </entry>
                    <entry>
                        <key>Compression codec</key>
                        <value>NONE</value>
                    </entry>
                    <entry>
                        <key>Ignore Locality</key>
                        <value>false</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutHDFS</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
        </processors>
        <processors>
            <id>c8fbe8c6-e199-30ca-0000-000000000000</id>
            <parentGroupId>e0c388ff-e973-39cf-0000-000000000000</parentGroupId>
            <position>
                <x>448.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>c8fbe8c6-e199-30ca-a962-a1a0440b0154</versionedComponentId>
            <bundle>
                <artifact>nifi-parquet-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.26.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>compression-type</key>
                        <value>
                            <name>compression-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>row-group-size</key>
                        <value>
                            <name>row-group-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>page-size</key>
                        <value>
                            <name>page-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dictionary-page-size</key>
                        <value>
                            <name>dictionary-page-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-padding-size</key>
                        <value>
                            <name>max-padding-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>enable-dictionary-encoding</key>
                        <value>
                            <name>enable-dictionary-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>enable-validation</key>
                        <value>
                            <name>enable-validation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>writer-version</key>
                        <value>
                            <name>writer-version</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>compression-type</key>
                        <value>UNCOMPRESSED</value>
                    </entry>
                    <entry>
                        <key>row-group-size</key>
                    </entry>
                    <entry>
                        <key>page-size</key>
                    </entry>
                    <entry>
                        <key>dictionary-page-size</key>
                    </entry>
                    <entry>
                        <key>max-padding-size</key>
                    </entry>
                    <entry>
                        <key>enable-dictionary-encoding</key>
                    </entry>
                    <entry>
                        <key>enable-validation</key>
                    </entry>
                    <entry>
                        <key>writer-version</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ConvertAvroToParquet</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.parquet.ConvertAvroToParquet</type>
        </processors>
        <processors>
            <id>da39ca51-e683-3687-0000-000000000000</id>
            <parentGroupId>e0c388ff-e973-39cf-0000-000000000000</parentGroupId>
            <position>
                <x>1000.0</x>
                <y>304.0</y>
            </position>
            <versionedComponentId>da39ca51-e683-3687-b42d-0beccf7c9ff1</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.26.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>merge-strategy</key>
                        <value>
                            <name>merge-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>correlation-attribute-name</key>
                        <value>
                            <name>correlation-attribute-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attribute Strategy</key>
                        <value>
                            <name>Attribute Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>min-records</key>
                        <value>
                            <name>min-records</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-records</key>
                        <value>
                            <name>max-records</name>
                        </value>
                    </entry>
                    <entry>
                        <key>min-bin-size</key>
                        <value>
                            <name>min-bin-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-bin-size</key>
                        <value>
                            <name>max-bin-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-bin-age</key>
                        <value>
                            <name>max-bin-age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.bin.count</key>
                        <value>
                            <name>max.bin.count</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>e75bc2cf-91b4-33ef-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>35fdc61f-6c25-32da-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>merge-strategy</key>
                        <value>Bin-Packing Algorithm</value>
                    </entry>
                    <entry>
                        <key>correlation-attribute-name</key>
                    </entry>
                    <entry>
                        <key>Attribute Strategy</key>
                        <value>Keep Only Common Attributes</value>
                    </entry>
                    <entry>
                        <key>min-records</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>max-records</key>
                        <value>1000</value>
                    </entry>
                    <entry>
                        <key>min-bin-size</key>
                        <value>0 B</value>
                    </entry>
                    <entry>
                        <key>max-bin-size</key>
                    </entry>
                    <entry>
                        <key>max-bin-age</key>
                    </entry>
                    <entry>
                        <key>max.bin.count</key>
                        <value>10</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>MergeRecord</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>merged</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.MergeRecord</type>
        </processors>
    </snippet>
    <timestamp>06/10/2024 16:29:35 UTC</timestamp>
</template>
